body {
    font-family: "Lilita One", sans-serif;
    background: rgb(39,39,39,1);
    background: radial-gradient(circle at bottom right, rgba(148,141,192,1) 0%, rgba(39,39,39,1) 50%, rgba(39,39,39,1) 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.btn{
    font-size: 0.83rem;
}

.heder {
    background: url(/img/header.svg) bottom repeat-x;
    background-size: cover;
    height: 10rem;
    width: 100%;
}

.heder h1{
    font-size: 2rem;
}

.heder .row {
    padding-top: 1rem;
}

.heder .coin
{
    width: 5rem;
    margin-left: auto;
    margin-right: 0;
}

.butonz .btn{
    padding: 0.4rem 15%;
    border: 5px #B9B0F0 solid;
}

.butonz .btn.eror{
    float: right;
    border: 5px #E95656 solid;
    background: none;
    color: #E95656;
}

.butonz .btn.connecd{
    margin-left: 0.5rem;
    background-color: white;
    border-color: white;
    color: #948DC0;
}

.betz{
    margin-top: 1rem;
}

.candydate {
    margin: 1rem 0;
}

.candydate .row{
    border: 5px #B9B0F0 solid;
    border-radius: 30px;
    padding: 0.3rem 0.6rem;
}

.candydate .avatar>img {
    width: 64px;
    height: 64px;
}

.candydate .describten{
    padding-left: 1rem;
    line-height: 1;
}

.candydate .describten h2{
    font-size: 1.5rem;
    text-align: left;
}

.candydate .describten span{
    font-size: 0.7rem;
}

.candydate .buton>.btn{
    font-size: 1rem;
    background-color: white;
    border-color: white;
    color: #948DC0;
}

.futer {
    overflow: hidden;
    margin-top: auto;
}

.futer .cards{
    height: 30vh;
    width: 100%;
    margin-bottom: -3vh;
}
